main article .cover {
  background: url('../images/image_cover.jpg') no-repeat center/cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 10% 50px;
}

main article .cover h1 {
  margin-top: 0;
}

main article .cover p {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}

.article-image {
  width: 100%;
}

.more-items {
  display: flex;
  flex-wrap: wrap;
}

.more-items img {
  width: 100%;
}

@media screen and (min-width: 501px) {
  /* Agregar reglas CSS para mínimo de pantalla de 501px */
  main article > div {
    width: 80%;
  }

  .more-items article {
    width: 50%;
  }
}

@media screen and (min-width: 961px) {
  /* Agregar reglas CSS para mínimo de pantalla de 961px */
  main article .cover {
    padding: 0 25% 50px;
  }

  main article > div {
    width: 50%;
  }

  .article-image {
    float: right;
    width: 50%;
    margin-left: 20px;
  }

  .article-quote {
    float: left;
    width: 50%;
    margin-right: 20px;
  }

  .more-items {
    width: 90%;
  }

  .more-items article {
    width: 25%;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
  }
}
